<ion-header>
  <ion-toolbar>
    <ion-title>
      Parking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container" style="text-align:center">
        <h1 style="margin-bottom:30px">Gestion du parking</h1>
        <ion-row style="margin-bottom: 100px;">
          <ion-col class="ion-col" sizeMd="2" value="A">A</ion-col>
          <ion-col class="ion-col" sizeMd="2" value="B">B</ion-col>
          <ion-col class="ion-col" sizeMd="2" value="C">C</ion-col>
          <ion-col class="ion-col" sizeMd="2" value="D">D</ion-col>
          <ion-col class="ion-col" sizeMd="2" value="E">E</ion-col>
          <ion-col class="ion-col" sizeMd="2" value="F">F</ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ion-col" sizeMd="2" value="G">G</ion-col>
            <ion-col class="ion-col" sizeMd="2" value="H">H</ion-col>
            <ion-col class="ion-col" sizeMd="2" value="I">I</ion-col>
            <ion-col class="ion-col" sizeMd="2" value="J">J</ion-col>
            <ion-col class="ion-col" sizeMd="2" value="K">K</ion-col>
            <ion-col class="ion-col" sizeMd="2" value="L">L</ion-col>
        </ion-row>
    </div>
</ion-content>


