<ion-header>
  <ion-toolbar>
    <ion-title>
      Parking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container" style="text-align:center">
        <h1 style="margin-bottom:30px">Gestion du parking</h1>
        <ion-row style="margin-bottom: 100px;">
          <ion-col class="ion-col" sizeMd="2" id="A" value="A" (click)="verifBook($event)">A</ion-col>
          <ion-col class="ion-col" sizeMd="2" id="B" value="B" (click)="verifBook($event)">B</ion-col>
          <ion-col class="ion-col" sizeMd="2" id="C" value="C" (click)="verifBook($event)">C</ion-col>
          <ion-col class="ion-col" sizeMd="2" id="D" value="D" (click)="verifBook($event)">D</ion-col>
          <ion-col class="ion-col" sizeMd="2" id="E" value="E" (click)="verifBook($event)">E</ion-col>
          <ion-col class="ion-col" sizeMd="2" id="F" value="F" (click)="verifBook($event)">F</ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ion-col" sizeMd="2" id="G" value="G" (click)="verifBook($event)">G</ion-col>
            <ion-col class="ion-col" sizeMd="2" id="H" value="H" (click)="verifBook($event)">H</ion-col>
            <ion-col class="ion-col" sizeMd="2" id="I" value="I" (click)="verifBook($event)">I</ion-col>
            <ion-col class="ion-col" sizeMd="2" id="J" value="J" (click)="verifBook($event)">J</ion-col>
            <ion-col class="ion-col" sizeMd="2" id="K" value="K" (click)="verifBook($event)">K</ion-col>
            <ion-col class="ion-col" sizeMd="2" id="L" value="L" (click)="verifBook($event)">L</ion-col>
        </ion-row>
    </div>
</ion-content>


